.c-pa-1 {
  padding: $spacing-1 !important;
}
.c-px-1 {
  padding-left: $spacing-1 !important;
  padding-right: $spacing-1 !important;
}
.c-py-1 {
  padding-top: $spacing-1 !important;
  padding-bottom: $spacing-1 !important;
}
.c-pl-1 {
  padding-left: $spacing-1 !important;
}
.c-pr-1 {
  padding-right: $spacing-1 !important;
}
.c-pt-1 {
  padding-top: $spacing-1 !important;
}
.c-pb-1 {
  padding-bottom: $spacing-1 !important;
}

.c-pa-2 {
  padding: $spacing-2 !important;
}
.c-px-2 {
  padding-left: $spacing-2 !important;
  padding-right: $spacing-2 !important;
}
.c-py-2 {
  padding-top: $spacing-2 !important;
  padding-bottom: $spacing-2 !important;
}
.c-pl-2 {
  padding-left: $spacing-2 !important;
}
.c-pr-2 {
  padding-right: $spacing-2 !important;
}
.c-pt-2 {
  padding-top: $spacing-2 !important;
}
.c-pb-2 {
  padding-bottom: $spacing-2 !important;
}

.c-pa-3 {
  padding: $spacing-3 !important;
}
.c-px-3 {
  padding-left: $spacing-3 !important;
  padding-right: $spacing-3 !important;
}
.c-py-3 {
  padding-top: $spacing-3 !important;
  padding-bottom: $spacing-3 !important;
}
.c-pl-3 {
  padding-left: $spacing-3 !important;
}
.c-pr-3 {
  padding-right: $spacing-3 !important;
}
.c-pt-3 {
  padding-top: $spacing-3 !important;
}
.c-pb-3 {
  padding-bottom: $spacing-3 !important;
}

.c-pa-4 {
  padding: $spacing-4 !important;
}
.c-px-4 {
  padding-left: $spacing-4 !important;
  padding-right: $spacing-4 !important;
}
.c-py-4 {
  padding-top: $spacing-4 !important;
  padding-bottom: $spacing-4 !important;
}
.c-pl-4 {
  padding-left: $spacing-4 !important;
}
.c-pr-4 {
  padding-right: $spacing-4 !important;
}
.c-pt-4 {
  padding-top: $spacing-4 !important;
}
.c-pb-4 {
  padding-bottom: $spacing-4 !important;
}

.c-pa-5 {
  padding: $spacing-5 !important;
}
.c-px-5 {
  padding-left: $spacing-5 !important;
  padding-right: $spacing-5 !important;
}
.c-py-5 {
  padding-top: $spacing-5 !important;
  padding-bottom: $spacing-5 !important;
}
.c-pl-5 {
  padding-left: $spacing-5 !important;
}
.c-pr-5 {
  padding-right: $spacing-5 !important;
}
.c-pt-5 {
  padding-top: $spacing-5 !important;
}
.c-pb-5 {
  padding-bottom: $spacing-5 !important;
}

.c-pa-6 {
  padding: $spacing-6 !important;
}
.c-px-6 {
  padding-left: $spacing-6 !important;
  padding-right: $spacing-6 !important;
}
.c-py-6 {
  padding-top: $spacing-6 !important;
  padding-bottom: $spacing-6 !important;
}
.c-pl-6 {
  padding-left: $spacing-6 !important;
}
.c-pr-6 {
  padding-right: $spacing-6 !important;
}
.c-pt-6 {
  padding-top: $spacing-6 !important;
}
.c-pb-6 {
  padding-bottom: $spacing-6 !important;
}

.c-ma-1 {
  margin: $spacing-1 !important;
}
.c-mx-1 {
  margin-left: $spacing-1 !important;
  margin-right: $spacing-1 !important;
}
.c-my-1 {
  margin-top: $spacing-1 !important;
  margin-bottom: $spacing-1 !important;
}
.c-ml-1 {
  margin-left: $spacing-1 !important;
}
.c-mr-1 {
  margin-right: $spacing-1 !important;
}
.c-mt-1 {
  margin-top: $spacing-1 !important;
}
.c-mb-1 {
  margin-bottom: $spacing-1 !important;
}

.c-ma-2 {
  margin: $spacing-2 !important;
}
.c-mx-2 {
  margin-left: $spacing-2 !important;
  margin-right: $spacing-2 !important;
}
.c-my-2 {
  margin-top: $spacing-2 !important;
  margin-bottom: $spacing-2 !important;
}
.c-ml-2 {
  margin-left: $spacing-2 !important;
}
.c-mr-2 {
  margin-right: $spacing-2 !important;
}
.c-mt-2 {
  margin-top: $spacing-2 !important;
}
.c-mb-2 {
  margin-bottom: $spacing-2 !important;
}

.c-ma-3 {
  margin: $spacing-3 !important;
}
.c-mx-3 {
  margin-left: $spacing-3 !important;
  margin-right: $spacing-3 !important;
}
.c-my-3 {
  margin-top: $spacing-3 !important;
  margin-bottom: $spacing-3 !important;
}
.c-ml-3 {
  margin-left: $spacing-3 !important;
}
.c-mr-3 {
  margin-right: $spacing-3 !important;
}
.c-mt-3 {
  margin-top: $spacing-3 !important;
}
.c-mb-3 {
  margin-bottom: $spacing-3 !important;
}

.c-ma-4 {
  margin: $spacing-4 !important;
}
.c-mx-4 {
  margin-left: $spacing-4 !important;
  margin-right: $spacing-4 !important;
}
.c-my-4 {
  margin-top: $spacing-4 !important;
  margin-bottom: $spacing-4 !important;
}
.c-ml-4 {
  margin-left: $spacing-4 !important;
}
.c-mr-4 {
  margin-right: $spacing-4 !important;
}
.c-mt-4 {
  margin-top: $spacing-4 !important;
}
.c-mb-4 {
  margin-bottom: $spacing-4 !important;
}

.c-ma-5 {
  margin: $spacing-5 !important;
}
.c-mx-5 {
  margin-left: $spacing-5 !important;
  margin-right: $spacing-5 !important;
}
.c-my-5 {
  margin-top: $spacing-5 !important;
  margin-bottom: $spacing-5 !important;
}
.c-ml-5 {
  margin-left: $spacing-5 !important;
}
.c-mr-5 {
  margin-right: $spacing-5 !important;
}
.c-mt-5 {
  margin-top: $spacing-5 !important;
}
.c-mb-5 {
  margin-bottom: $spacing-5 !important;
}

.c-ma-6 {
  margin: $spacing-6 !important;
}
.c-mx-6 {
  margin-left: $spacing-6 !important;
  margin-right: $spacing-6 !important;
}
.c-my-6 {
  margin-top: $spacing-6 !important;
  margin-bottom: $spacing-6 !important;
}
.c-ml-6 {
  margin-left: $spacing-6 !important;
}
.c-mr-6 {
  margin-right: $spacing-6 !important;
}
.c-mt-6 {
  margin-top: $spacing-6 !important;
}
.c-mb-6 {
  margin-bottom: $spacing-6 !important;
}

.letter-spacing-neg-1 {
  letter-spacing: -0.01em !important;
}

.letter-spacing-neg-2 {
  letter-spacing: -0.02em !important;
}

.letter-spacing-pos-2 {
  letter-spacing: 0.02em !important;
}

